body {
  font-family: 'Playpen Sans', cursive;
  background: linear-gradient(to right, #76D6FF, #2AC5FD);
  background-size: 400% 400%;
  animation: gradientBG 5s infinite;
  overflow-x: hidden;
  margin: 0;
  user-select: none;
}

.contacts_section {
  margin: 50px auto;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  border: 2px solid #333;
  width: 50%;
  border-radius: 10px;
  padding: 20px;
}

.contact-info {
  text-align: center;
}

.phones a {
  border-bottom: 2px solid #333;
}

.tild {
  color: #333;
}

.contact-info p {
  color: #FFF;
  font-size: 24px;
  margin: 20px;
}

.contact-info a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.dark-background p {
  color: #999;
}

.dark-background p a {
  color: #999;
  font-weight: normal;
}

body,
.dark-background h1,
.dark-background .condition ul li,
#backToTopBtn {
  color: #FFF;
}

body,
#backToTopBtn {
  padding: 0;
}

h1 {
  font-size: 72px;
  margin: 50px;
}

h1,
.condition h2,
.opening-hours-item span {
  color: #333;
}

h1,
.condition,
.opening-hours,
.opening-hours-item {
  text-align: center;
}

header {
  background-color: #333;
  height: 300px;
}

.navbar {
  padding: 10px;
}

.logo img {
  width: 100px;
}

.lightbulb img {
  top: 20px;
  right: 20px;
  width: 100px;
}

.lightbulb-img {
  transition: transform 0.3s ease-in-out;
}

.dark-background .lightbulb-img {
  transform: rotate(180deg);
}

.dark-background {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.dark-background {
  width: 100%;
}

body,
.dark-background {
  height: 100%;
}

.lightbulb img,
.dark-background {
  position: absolute;
}

.icon img {
  width: 70px;
}

.lightbulb img,
.icon img,
#backToTopBtn {
  cursor: pointer;
}

.dark-background {
  top: 0;
}

.dark-background {
  left: 0;
}

.buttons {
  justify-content: start;
  margin: 200px 0 0 30px;
}

.buttons a {
  border-bottom: 3px solid transparent;
}

.buttons a:hover {
  color: #00AAFF;
  border-bottom-color: #00AAFF;
}

.buttons,
.del-pay-section,
.condition,
.opening-hours-wrapper {
  display: flex;
}

.buttons,
.condition {
  align-items: center;
}

.buttons,
.opening-hours-grid {
  gap: 50px;
}

.buttons a {
  text-decoration: none;
}

.buttons a,
.dark-background .condition ul li span,
.dark-background .condition ul li .span2 {
  background: #B5DCF0;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.buttons a {
  padding: 20px;
}

.buttons a,
.opening-hours-item {
  font-size: 24px;
}

.buttons a {
  transition: color 0.3s;
}

.dark-background .condition h2,
.condition {
  color: #000;
}

.dark-background .condition h2 {
  color: #999;
}

.dark-background .delivery-payment-wrapper,
.dark-background .opening-hours-item span {
  color: #B5DCF0;
}

.del-pay-section {
  justify-content: space-between;
  flex-wrap: wrap;
}

.condition {
  flex: 0 1 calc(50% - 20px);
  flex-direction: column;
}

.additional-condition {
  flex: 1 1 100%;
  margin-top: 50px;
}

.condition ul li {
  list-style-type: none;
  text-align: left;
}

.condition ul li span,
.span2,
.price {
  color: #FF0000;
  font-weight: bold;
}

.condition ul li {
  font-size: 18px;
}

.condition h2 {
  font-size: 36px;
}

.icon {
  height: 50px;
}

.icon img {
  transition: transform 0.3s ease;
}

.icon img:hover {
  transform: scale(1.1);
}

.icon {
  width: 50px;
}

.icon {
  margin-bottom: 20px;
}

.opening-hours-wrapper {
  margin-top: 50px;
}

.opening-hours-wrapper {
  justify-content: center;
}

.opening-hours-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.opening-hours-item {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5), 0 0 20px 10px rgba(0, 0, 0, 0.3);
}

.opening-hours-item span {
  margin-bottom: 5px;
}

.opening-hours-item span {
  display: block;
}

.opening-hours-item.full-width {
  grid-column: 1 / -1;
}

#backToTopBtn {
  border: none;
}

#backToTopBtn {
  background: transparent;
}

.no-scroll {
  overflow: hidden;
}

#backToTopBtn {
  display: none;
}

#backToTopBtn {
  position: fixed;
}

#backToTopBtn {
  outline: none;
}

#backToTopBtn {
  bottom: 20px;
  right: 20px;
  transition: all 0.5s;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

#backToTopBtn img {
  width: 70px;
  filter: invert(100%);
}

#backToTopBtn:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 255);
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 36px;
  }

  header {
    height: 150px;
  }

  .buttons {
    margin: 0;
    display: flex;
    justify-content: space-around;
    margin: 100px;
  }

  .buttons a {
    border: none;
    font-size: 18px;
    padding: 0;
  }

  .buttons a:hover {
    color: transparent;
  }

  .lightbulb-container {
    display: block;
  }

  .navbar {
    justify-content: space-between;
  }

  .lightbulb img {
    width: 70px;
  }

  .icon img {
    width: 50px;
  }

  .icon img {
    transition: none;
  }

  .icon img:hover {
    transform: scale(1);
  }

  section.del-pay-section {
    flex-direction: column;
  }

  .condition {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
  }

  .dark-background .condition {
    border: 2px solid #B3B3B3;
  }

  .condition br {
    display: none;
  }

  .opening-hours-grid {
    display: flex;
    flex-direction: column;
  }

  .opening-hours-grid {
    width: 100%;
  }

  .condition h2,
  .opening-hours-item span {
    font-size: 24px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .span2 {
    margin-left: 0;
  }

  .opening-hours-grid {
    margin: 10px;
  }

  #backToTopBtn img {
    width: 50px;
  }

  #backToTopBtn {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }

  #backToTopBtn:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }

  .contact-section {
    width: 95%;
  }

  .contact-info p {
    font-size: 18px;
  }
}