body {
  font-family: 'Playpen Sans', cursive;
  margin: 0;
  padding: 0;
  background: #FFF6C1;
  overflow-x: hidden;
}

body,
.new-icon,
.dark-background h3,
.dark-background .product-card p,
.dark-background .quantity-control button,
.dark-background #cart-item-count,
.dark-background .radio,
#clock {
  color: #FFF;
}

body,
#cart-item-count {
  padding: 0;
}

.radio {
  color: #000;
}

.pepper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 30px;
  right: 35px;
  z-index: 999;
  cursor: pointer;
}

.pepper img {
  width: 60px;
}

.vegan {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 30px;
  right: 35px;
  z-index: 999;
  cursor: pointer;
}

.vegan img {
  width: 60px;
}

.new-icon {
  background-color: #FF0000;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 30px;
  z-index: 999;
}

.new-icon,
.lightbulb-container,
.dark-background,
#cart-icon,
#cart-item-count {
  position: absolute;
}

.new-icon,
.lightbulb-container.show-lightbulb,
.dark-background {
  top: 0;
}

.new-icon,
.product-title,
.quantity-button,
.quantity-input {
  font-size: 18px;
}

.new-icon,
h3,
#clock,
.container,
.product-price,
.quantity-input {
  text-align: center;
}

.new-icon,
header,
.product-card,
.product-price,
.quantity-control,
.quantity-button {
  display: flex;
}

.new-icon,
.product-price,
.quantity-control,
.quantity-button {
  justify-content: center;
}

.new-icon,
header,
.quantity-control,
.quantity-button {
  align-items: center;
}

.new-icon,
.lightbulb-container,
.product-image,
.quantity-button,
.add-to-cart-button {
  cursor: pointer;
}

header {
  height: 150px;
  justify-content: space-between;
  padding: 0 20px;
}

header,
.dark-background {
  background-color: #333;
}

h3,
p,
.product-card p,
.quantity-button,
#cart-item-count {
  color: #333;
}

#pizza-logo,
#drinks-logo,
#snacks-logo,
#soups-logo,
#salads-logo,
#desserts-logo,
#milkshake-logo,
#icecream-logo,
#wine-logo,
#sushi-logo,
#steak-logo,
#cart-icon,
.hide-lightbulb-button,
.hide-lightbulb-button {
  display: none;
}

#pizza-logo,
#drinks-logo,
#snacks-logo,
#soups-logo,
#salads-logo,
#desserts-logo,
#milkshake-logo,
#icecream-logo,
#wine-logo,
#sushi-logo,
#steak-logo {
  opacity: 1;
}

.logo img {
  width: 100px;
}

.quantity-input {
  width: 70px;
}

.lightbulb-container {
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50px);
  transition: transform 0.3s ease, top 0.3s ease;
  z-index: 2;
}

.lightbulb {
  transition: transform 0.3s ease;
}

.lightbulb img {
  width: 70px;
}

.lightbulb:hover {
  transform: translateY(40px);
}

.lightbulb-container:not(.show-lightbulb) .hide-lightbulb-button {
  display: block;
}

.dark-background {
  left: 0;
  height: 100%;
  z-index: 1;
}

.dark-background,
.product-card,
.product-image {
  width: 100%;
}

.dark-background header {
  background-color: #222;
}

.dark-background #backToTopBtn {
  filter: invert(100%);
}

.dark-background .product-card,
.dark-background .quantity-button,
.product-card,
.product-image,
.quantity-button,
.quantity-input,
#cart-item-count {
  border-radius: 5px;
}

.dark-background .quantity-button {
  border: 2px solid #FFF;
}

.dark-background .product-card {
  background: rgba(0, 0, 0, 1);
  border: none;
}

.dark-background .product-card:hover {
  box-shadow: none;
}

.dark-background .product-price {
  color: #FFD900;
}

#clock {
  font-size: 36px;
  user-select: none;
  cursor: default;
}

#clock,
.product-title,
.product-price {
  font-weight: bold;
}

.product-line {
  border-top: 1px solid #CCC;
  margin: 10px 0;
}

.container {
  padding: 20px;
}

.product-card {
  box-shadow: rgba(0, 0, 0, 0);
  padding: 10px;
  margin: 10px auto;
  text-align: left;
  flex-direction: column;
  border: 2px solid #505050;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.product-image {
  height: auto;
}

.product-image,
.quantity-control {
  margin-bottom: 10px;
}

.product-title {
  margin-bottom: 5px;
}

.product-price {
  color: #877303;
  transition: opacity 0.3s ease-in-out;
}

.product-price,
#cart-item-count {
  font-size: 24px;
}

.quantity-button {
  background-color: transparent;
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.quantity-button:focus,
.quantity-input {
  outline: none;
}

.quantity-button,
.quantity-input {
  border: 1px solid #333;
}

.add-to-cart-button {
  align-self: flex-end;
  padding: 5px 10px;
}

#cart-icon {
  top: 200px;
  right: 50px;
}

#cart-item-count {
  top: 90px;
  right: 0;
}

#cart-icon img {
  width: 100px;
}

.dark-background #cart-icon img {
  filter: invert(100%);
}

#backToTopBtn {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: transparent;
  transition: all 0.5s;
  z-index: 9999;
  outline: none;
  box-shadow: none;
  border: none;
  color: #FFF;
  padding: 0;
}

#backToTopBtn img {
  width: 70px;
}

@media screen and (max-width: 720px) {
  .logo img {
    width: 100px;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }

  #cart-icon img {
    width: 70px;
  }

  #cart-icon,
  #cart-item-count {
    position: absolute;
  }

  .lightbulb {
    display: none;
  }

  .navbar-brand,
  .product-price {
    font-size: 18px;
  }

  .navbar-nav .nav-link {
    font-size: 14px;
  }

  .product-title {
    font-size: 14px;
  }

  .product-price,
  .product-title {
    margin-bottom: 5px;
  }

  .product-card:hover {
    box-shadow: none;
  }

  #cart-icon img {
    width: 70px;
  }

  #cart-icon {
    background-color: rgba(255, 255, 255, 0.8);
    top: 170px;
    right: 10px;
    padding: 10px;
    border-radius: 50%;
  }

  #cart-item-count {
    top: 65px;
    right: 5px;
    color: #000;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    background-color: #FFF;
    padding: 15px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dark-background #cart-icon {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .dark-background #cart-item-count {
    background-color: #000;
    color: #FFF;
  }

  #clock,
  #cart-icon {
    display: none;
  }

  #backToTopBtn img {
    width: 50px;
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 50%;
  }

  #backToTopBtn {
    bottom: 20px;
    right: 20px;
  }

  .dark-background #backToTopBtn img {
    background: none;
  }
}